.website-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.website-item {
	flex: 0 32%;
}

@media (max-width: 1300px) {
	.website-item {
		flex: 0 49%;
	}
  }
  @media (max-width: 680px) {
	.website-item {
		flex: 0 100%;
	}
  }

.website-item.card .card-image {
  border-bottom: 1px solid #ddd;
}

.website-item.card .card-content {
  padding: 5px 24px 70px; /* 70px for footer */
}

.website-item.card .tech-chips {
  padding: 10px 0;
}

.website-item.card .card-action {
  position: absolute;
  width: 100%;
  bottom: 0;
}
