.graphics-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.graphics-item {
	flex: 0 32%;
}
@media (max-width: 800px) {
	.graphics-item {
		flex: 0 49%;
	}
}
@media (max-width: 600px) {
	.graphics-item {
		flex: 0 100%;
	}
}

.graphics-item.card .card-image img {
  width: auto;
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
}
