header {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

header nav {
	background-color: transparent;
	box-shadow: none;
	height: 150px;
	line-height: 35px;
	padding: 35px 75px;
}
header nav .brand-logo span {
	font-size: 1.3rem;
}
header nav ul a {
	display: inline;
	padding: 15px;
	line-height: 75px;
}