header {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

header nav {
	margin: 0 auto;
	max-width: 1300px;
	height: 150px;
	line-height: 35px;
	padding: 35px 15px;
	background-color: transparent;
	box-shadow: none;
}

header nav .sidenav-trigger {
	margin: 0;
}
header nav .sidenav li {
	border-bottom: 1px solid #eee;
}

header nav .brand-logo {
	width: 70%;
}

header nav .brand-logo span {
	font-size: 1.3rem;
}

header nav ul a {
	display: inline;
	padding: 15px;
	line-height: 75px;
}