.testimonials-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.testimonials-wrapper div.testimonial-item {
	padding: 24px;
	background-color: #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.testimonials-wrapper .testimonial-item img {
	border-radius: 50%;
}

blockquote.testimonial {
    margin: 50px auto 20px;
    font-size: 1.1rem;
	color: #93979c;
	border-color: #2D6FBC;
	text-align: left;
}